.container
{
  margin-top: 20px;
}
.options
{
  margin-left: 10px;
}
ul{
  list-style: none;
}
ul .new
{
  display: inline-flex;
  margin-left: 10px;
}
ul .new li
{
  padding: 0 12px;
}