<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
  integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<div class="header">
  <div class="title">
    Hello
  </div>
  <div id="subtitle">
    <input type="name" class="form-control" id="displayname" (keyup)="displayName($event)" value={{userName}}>
  </div>
</div>
<div class="line">
    <ul>
      <div class="new">
      <li><a (click)="isUserVisible=false">HOME</a></li>
      <li><a (click)="isUserVisible=true">+ADD USER</a></li>
      </div>
      <li class=logo>
      <img src="https://trello-attachments.s3.amazonaws.com/6048607c61de5b708f69ce86/6048607c61de5b708f69ce91/x/20b01d0aea8268981a84c57b46c55355/nipsol_favicon.png">
      </li>
      <li>
      www.nipsol.com
      </li>
  </ul>
</div>
<div *ngIf="!isUserVisible" class="home">
  <div class="h1">
    Salient Features Of Nipsol
  </div>
  <br>
  <div class="h2">
    1. It offers a platform independent application for all restaurant food ordering needs.
    <br>
   2. A nipsol certified restaurant is marked as safe to dine by most customers across india.
    <br>
   3. Nipsol Payment System can be Integrated at 0% charges.
    <br>
   4. With QR Based Oredreing and e-Invoice functionality, human intervention is reduced considerably making it a contactless alternative to conventional ordering machanisms.
    <br>
   5. Currently Nipsol has marked its presence in over 50 Restaurants/Cafes across 50 cities witin a span of 8 weeks since its launch.
  </div>
</div>
<div *ngIf="isUserVisible" class="user">
  <div class="Use">
    <strong>User Registration</strong>
  </div>
  <div class="container form">
    <form>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label"> <strong>Name</strong></label>
        <div class="col-sm-10">
          <input type="name" class="form-control" id="name" (keyup)="displayName($event)" value={{userName}}>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label"><strong>Email</strong></label>
        <div class="col-sm-10"> <input type="email" class="form-control" id="email">
        </div>
      </div>
      <div class="form-group row">
        <label for="Phone" class="col-sm-2 col-form-label"><strong>Phone</strong></label>
        <div class="col-sm-10">
          <input type="tel" class="form-control" id="Phone">
        </div>
      </div>
      <div class="form-group row">
        <label for="Address" class="col-sm-2 col-form-label"><strong>Address</strong></label>
        <div class="col-sm-10">
          <input type="address" class="form-control" id="Address">
        </div>
      </div>
      <div class="row">
        <div class="col-form-label col-sm-2 pt-0 "> <strong>Gender</strong> </div>
        <div class="col-sm-10 d-flex">
          <div class="form-check d-flex custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" checked>
          <label class="custom-control-label" for="customRadioInline1"><strong>Male</strong></label>
         </div>
         <div class="form-check ml-3 custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline2"><strong>Female</strong></label>
         </div>
        </div>
      </div>
      <br>
      <div class="form-group ">
        <div class="col-sm-10">
          <button type="reset" class="btn btn-primary1  px-5 " style="color:white">RESET</button>
          <button type="submit" class="btn btn-primary2  px-5 ml-4" style="color:white">SUBMIT</button>
        </div>
      </div>
    </form>
  </div>
</div>
