.header {
  background-color: #383838;
  height: 150px;
  color: white;
  padding-top: 35px;
  padding-left: 20px;
  padding-bottom: 20px;
}
img {
  margin-top: 2px;
  width: 20px;
}
.title {
  padding-top: 10px;
  font-family: "Fredoka One";
  font-size: 40px;
}
.line {
  vertical-align: middle;
  height: 28px;
  background-color: #9e6df7;
  padding-right: 10px;
  padding-bottom: 5px;
  color: white;
}
.content {
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
}
ul .new
{
  display: inline-flex;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
}
ul .new li
{
  padding: 0 12px;
}
ul li.logo
{
  display: inline-flex;
  padding-right: 12px;
  text-align: right;
}
