.header {
  background-color: #383838;
  height: 105px;
  padding: 20px;
}
img {
  margin-top: 2px;
  width: 20px;
  vertical-align: middle;
  margin-bottom: 5px;
}
.Title {
  margin-top: 35px;
  color: white;
  font-family: "Fredoka One";
  font-size: 40px;
}

#Subtitle {
  margin-top: 5px;
  padding-bottom: 15px;
  color: white;
}
.line {
  vertical-align: middle;
  height: 22px;
  background-color: #9e6df7;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 5px;
  color: white;
}
.content {
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.h1 {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bolder;
}
.h2 {
  margin-left: 10px;
}
