.header {
  background-color: #383838;
  height: 105px;
  color: white;
  padding: 20px;
}
img {
  margin-top: 2px;
  width: 20px;
  vertical-align: middle;
  margin-bottom: 5px;
}
.Title {
  margin-top: 35px;
  font-family: "Fredoka One";
  font-size: 40px;
}
#Subtitle {
  margin-top: 5px;
  padding-bottom: 20px;
}
.line {
  vertical-align: middle;
  height: 20px;
  background-color: #9e6df7;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 5px;
  color: white;
}

.Forms
{
  margin-top: 20px;
  margin-left: 50px;
}