<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<div class="header">
  <div class="Title">
    nipsol
  </div>
  <div id="Subtitle">
    CONTACTLESS ORDERING
  </div>
</div>
<div class="line">
  <div class="LOGO">
    <img src="https://trello-attachments.s3.amazonaws.com/6048607c61de5b708f69ce86/6048607c61de5b708f69ce91/x/20b01d0aea8268981a84c57b46c55355/nipsol_favicon.png">
    &nbsp;
      www.nipsol.com
  </div>
</div>
<div class="content">
  <div class="User">
  <strong>User Registration</strong>
  </div>
  <div class="Forms">
  <form>
  <div class="form-group">
    <label for="name">Name</label>
    &nbsp;
    <input type="name" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    &nbsp;
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="Phone">Phone</label>
    &nbsp;
    <input type="Phone" class="form-control" id="Phone">
  </div>
  <div class="form-group">
    <label for="Address">Address</label>
    &nbsp;
    <input type="Address" class="form-control" id="Address">
  </div>
  <button type="reset" class="btn btn-default">Reset</button>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
  </div>
</div>